@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="">
    <h1 class="display-4">Admin Dashboard</h1>
    
    <ul class="d-flex flex-column gap-4">

        <li class="nav-item">
            <a class="customlink" asp-area="" asp-controller="Car" asp-action="Index">Manage Cars</a>
        </li>

        <li class="nav-item">
            <a class="customlink" asp-area="" asp-controller="Customer" asp-action="Index">Manage Customers</a>
        </li>

        <li class="nav-item">
            <a class="customlink" asp-area="" asp-controller="Rental" asp-action="Index">Manage Rentals</a>
        </li>


    </ul>
</div>
