@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mx-auto">
    <h1 class="display-4">Welcome to Friberg Car Rentals</h1>
            
    <div class="flex-row d-flex mx-auto justify-content-center align-items-center gap-4">        
        <img class="img-fluid" style="height:200px" src="~/images/cars/fiat_panda.jpg" alt="Fiat Panda" />
        <img class="img-fluid" style="height:500px" src="~/images/friberg_rentals_logo.png" alt="Friberg Car Rentals Logo" />
        <img class="img-fluid" style="height:200px" src="~/images/cars/opel_kadett-4.jpg" alt="Opel Kadett" />
    </div>
    <p>Book your rental car today! </p>
</div>
