@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <img src="/images/friberg_rentals_logo.png" style="height:400px;" alt="Alternate Text" />

    <p class="display-5">Welcome to <span class="fst-italic">The Cool Garage</span></p>
    <p>Find your dream car, select your rental period and we'll be in contact to discuss the details!</p>
</div>
