@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to</h1>
    <img src="/images/friberg_rentals_logo.png" style="height:400px;" alt="Alternate Text" />

    <p class="lead">Welcome to the cool garage! Create a booking and we discuss pricing aftewards!</p>
</div>
